@import url('https://fonts.googleapis.com/css2? family= Inconsolata & display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inconsolata', monospace;
    font-size: 20px;
}

body{
    color:#fdebd0;
}

header{
    width: 100%;
}

.header{
    background-color: #bfc9ca ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
}

.header .logo{
    cursor: pointer;
}

.header .logo img{
    height: 70px;
    width: auto;
    transition: all 0.3s;
}

.header .logo img:hover{
    transform: scale(1.2);
}

.header .nav-links{
    list-style: none;
}

.header .nav-links li{
    display: inline-block;
    padding: 0 30px;
}

.header .nav-links li:hover{
    padding: 30px;
    padding-top: 35px; 
	line-height: normal;
	text-decoration: none;
	color: #fff;
	transition: all 1s ease;
	border-bottom: 5px solid transparent;
}

.header .nav-links a{
    font-size: 700;
    color: #000000;
    text-decoration: none;
}

.header .nav-links li a:hover{
    color: #212121;
}

.header .btn button{
    font-weight: 700;
    color: #fdebd0;
    padding: 5px 20px;
    background: #000000;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0;
}

.header .btn button:hover{
    background-color: #fdebd0;
    color: #000000;
    transform: scale(1.1);
}
/*fin de barra de encabezado*/


/*Menù lateral*/
#bton-menu{
	display: none;
}
.container-menu{
	position: absolute;
	background: rgba(0,0,0,0.5);
	width: 100%;
	height: 100vh;
	top: 0;right: 0;
	transition: all 500ms ease;
	opacity: 0;
	visibility: hidden;
}
#bton-menu:checked ~ .container-menu{
	opacity: 1;
	visibility: visible;
}
.cont-menu{
	width: 100%;
	max-width: 300px;
	background: rgb(44,62,80);
	height: 100vh;
	position: relative;
	transition: all 500ms ease;
	transform: translateX(800%);
}
#bton-menu:checked ~ .container-menu .cont-menu{
	transform: translateX(1620px);
}
.cont-menu nav{
	transform: translateY(15%);
}
.cont-menu nav a{
	display: block;
	text-decoration: none;
	padding: 20px;
	color: #c7c7c7;
	border-left: 5px solid transparent;
	transition: all 400ms ease;
}
.cont-menu nav a:hover{
	border-left: 5px solid #c7c7c7;
	background: #1f1f1f;
    
}
.cont-menu label{
	position: absolute;
	right: 5px;
	top: 10px;
	color: #fff;
	cursor: pointer;
	font-size: 18px;
}

.position{
    position: absolute;
}
/*Fin de Menù lateral*/




p{
    padding-top: 40px;
    

}
/* esta es la mision */
.contenedormision{

    width: 1500px;
    height: 380px;
    padding: 30px 30px;
    font-size: 25px;
    line-height: 1;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
}

.misionimg{

width: 500px;
height: 350px;    
float: left;
margin-right: 25px;
}

/* esta es la vision */
.contenedorvision{

    width: 1500px;
    height: 380px;
    padding: 30px 30px;
    font-size: 25px;
    line-height: 1;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
}

.visionimg{

width: 500px;
height: 350px;    
float: left;
margin-right: 25px;
}

/* estos son los objetivos */
.contenedorobjetivos{

    width: 1500px;
    height: 380px;
    padding: 30px 30px;  
    font-size: 25px;        
    line-height: 1;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
}

.objetivosimg{

width: auto;
height: 500px;    
float: left;
margin-right: 25px;
}
/* estas son las estrategias */
.contenedorestrategias{

    width: 1500px;
    height: 380px;
    padding: 30px 30px;
    font-size: 25px;
    line-height: 1;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
}

.estrategiasimg{

width: 550px;
height: 450px;    
float: left;
margin-right: 25px;
}

/* estas son las politicas y valores */
.contenedorpoliticas{

    width: 1500px;
    height: 310px;
    padding: 30px 30px;

    background-color: rgba(255, 255, 255, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.politicasimg{

width: 500px;
height: 350px;    

margin-right: 25px;
}


/* configuracion tabla */

.contenedortabla{

width: 900px;
height: 380px;
padding: 50px 30px;

background-color:rgba(255, 255, 255, 0);
display: flex;
justify-content: center;
align-items: center;
margin-left: auto;
margin-right: auto;
}

table{
width: 100%;
border-collapse: collapse;
}

th, td{
border: solid 1px silver;
padding: 20px;
}

thead{
background-color: #fdebd0;
border-bottom: solid 5px;
color: #212121;	
}

th{
background-color: #fdebd0; 
}

tr:nth-child(even){
background-color: #eedabc;
}

tr:nth-child(odd){
background-color: #fcd498;
}     
tr:hover td{
    background-color: #161616;
    color: #ffffff;
    }
    
    tr{
        color: black;
    }
    
    /* este es el organigrama */
    .contenedororganigrama{
    
        width: 1500px;
        height: 610px;
        padding: 30px 30px;
    
        background-color: rgba(255, 255, 255, 0);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }
    
    .organigramaimg{
    
    width: 1200px;
    height: auto;    
    
    
    }
    /* el foda */
    .contenedorfoda{
    
        width: 1500px;
        height: 610px;
        padding: 30px 30px;
    
        background-color: rgba(255, 255, 255, 0);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }
    
    .fodaimg{
    
    width: 1000px;
    height: auto;    
    
    
    }
    
    
    .contenedor{
        width: auto;
        max-width: 1200px;
        overflow: hidden;
        margin: auto;
        padding: 60px 0;
        color:#fdebd0;
    }
    
    body{
        height: 100%;
        background: linear-gradient(to bottom, rgba(50, 50, 50, 0) 0%, rgba(63, 63, 63, 0) 40%, rgba(28, 28, 28, 0) 150%), linear-gradient(to top, rgba(255, 255, 255, 0) 0%, rgb(0, 0, 0) 200%), url("img/logo.jpg");
     background-blend-mode: multiply;
        background-repeat: no-repeat;
        background-size:  cover;
        background-attachment: fixed;
        background-position: center; 
    }
    
    .dream{
        height: 100%;  
        text-shadow: 0 0 30px #fff;
        text-align: center;
        position:static;
        margin-top: 0%;
        color: white;
        text-shadow: 5px 5px 5px;    
    }
    
    body{
        margin-top: 0%;  
        margin-left: 0%;
        margin-right: 0%;
    }
    
    body::-webkit-scrollbar{
        width: 5px;
        background:#2c3e50 ;
    }
    body::-webkit-scrollbar-thumb{
        background:#99a3a4;
        border-radius: 5px;
    }     